{% extends 'baseE.html' %}
{% load static %}
{% block title %} Register {% endblock title %}
{% block loginContent %}

<div class="container">
    <div class="card card-register mx-auto mt-5">
        <div class="card-header">Register an Account</div>
        <div class="card-body">                        
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                {{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}
       
        <form method="POST" action="/register/">
            {% csrf_token %}
            <div class="form-group">
            <div class="form-row">
                <div class="col-md-12">
                <div class="form-label-group">
                    {{ form.name }}                    
                    <label for="firstName">Name</label>                    
                    {{ form.name.errors|escape }}                    
                </div>
                </div>             
            </div>
            </div>
            <div class="form-group">
            <div class="form-label-group">
                {{ form.email }}
                <label for="inputEmail">Email address</label>
                {{ form.email.errors|escape }} 
            </div>
            </div>
            <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.uname }}
                    <label for="username">Username</label>
                    {{ form.uname.errors|escape }} 
                </div>
                </div>
                <div class="col-md-6">
                <div class="form-label-group">
                    {{ form.password }}                    
                    <label for="inputPassword">password</label>
                    {{ form.password.errors|escape }} 
                </div>
                </div>
            </div>
            </div>
            <input type="submit" class="btn btn-primary btn-block" value="Register" />
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/login">Login Page</a>
            {# <a class="d-block small" href="forgot-password.html">Forgot Password?</a> #}
        </div>
        </div>
    </div>
</div>
{% endblock %}